<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <main>
      <form class="text-center center-half">
        <fieldset>
          <legend>Type de document</legend>
          <div class="form-group">
            <label for="title">Nom</label>
            <input
              type="text"
              class="form-control text-center"
              id="title"
              aria-describedby="emailHelp"
              placeholder="Ex : ''Carte d'identité''"
            />
  
          </div>

          <div class="form-group">
            <label for="periodicity">Périodicité</label>
            <select class="form-control text-center pointer" id="periodicity">
              <option>Aucune</option>
              <option>Mois</option>
              <option>Année</option>
            </select>
          </div>

          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label pointer">
                <input
                  class="form-check-input pointer"
                  type="checkbox"
                  value=""
                  checked
                />
                Un utilisateur ne peut avoir qu'un seul document de ce type.
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label pointer">
                <input class="form-check-input pointer" type="checkbox" value="" checked />
                Ce type de document doit être daté.
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label pointer">
                <input class="form-check-input pointer" type="checkbox" value="" />
                Ce type de document doit avoir une date d'expiration.
              </label>
            </div>
          </fieldset>

          <button type="submit" class="btn btn-primary">Créer</button>
        </fieldset>
      </form>
    </main>
    <%- include('../includes/scripts') %>
    <script src="/js/forms.js"></script>
  </body>
</html>
