<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/navbar') %>
    <main class='text-center'>
        <h1>Error <%= errorStatus %></h1>
        <p><%= errorMessage %></p>
    </main>
  </body>
</html>