select {
  text-align-last: center;
}

.form-group {
  padding-bottom: 1rem;
}

input.invalid,
select.invalid {
  border: 1px red solid;
}

.center-half {
  width: 50%;
  margin: 0 auto;
}

#noAccountLinkContainer {
  margin: auto;
  text-align: center;
  width: 50%;
  padding-top: 1rem;
  text-decoration: underline;
}

/* alerts */

.user-messages {
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border: 1px solid var(--blue);
  color: var(--blue);
  max-height: 15%;
  overflow: auto;
}

.user-messages .h3 {
  color: var(--blue);
}

ul.user-messages li {
  list-style: inside;
}

.user-messages__error {
  border: 1px solid red;
  color: red;
}

.full-height-if-errors {
  height: 85%;
}

.scroll-container-if-errors {
  height: calc(85% - 2rem);
  overflow: auto;
}

.scroll-container-if-errors-and-user-message {
  height: calc(70% - 4rem);
  overflow: auto;
}
