@import '/css/fontawesome.min.css';

main {
  height: calc(100vh - 110px - 1rem);
}

.navbar {
  height: 90px;
}

.full-height {
  height: 100%;
}

.full-flex {
  flex-basis: 100%;
}

.half-flex {
  flex-basis: 50%;
}

.btn {
  border-radius: 2rem;
  margin: 1rem;
}

.center-half {
  width: 50%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #1f9bcf;
}

.list-inline {
  list-style: inside;
}

.full-flex {
  flex-basis: 100%;
  margin: 2rem;
}

.column-separation {
  width: 0.5rem;
  background-color: #343a40;
}

.margin-top-3-rem {
  margin-top: 3rem;
}

.width1rem {
  width: 1rem;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* trash icon */

.trash-container:hover {
  color: red;
}

/* alerts */

.user-messages {
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border: 1px solid #1f9bcf;
  color: #1f9bcf;
}

.user-messages .h3 {
  color: #1f9bcf;
}

ul.user-messages li {
  list-style: inside;
}

.user-messages__error {
  border: 1px solid red;
  color: red;
}

/* documents */

.document-item {
  border-radius: 50px;
}

.document-item:hover {
  border: 0.2rem solid #1f9bcf;
}

.list-group-item > .h3 {
  margin: auto;
}

#oldFile {
  color: #1f9bcf;
  border: #1f9bcf solid 0.1rem;
  padding: 0.1rem;
  margin: 0.5rem;
  display: block;
}

/* pro creates a user */

ol > li {
  list-style-position: inside;
}

span.email {
  text-decoration: underline;
}
