main {
  padding: 2rem;
}

.btn {
  border-radius: 2rem;
  margin: 1rem;
}

.center-half {
  width: 50%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #1f9bcf;
}

/* alerts */

.user-messages {
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem 0;
}

.user-messages li {
  list-style: inside;
}

.user-messages__error {
  border: 1px solid red;
  color: red;
}

/* documents */

.document-item {
  border-radius: 50px;
}

.document-item:hover {
  border: 0.2rem solid #1f9bcf;
}

.list-group-item > .h3 {
  margin: auto;
}
