.request {
  border-radius: 10px;
  max-width: 100%;
}

.btn {
  font-size: 1rem;
}

.choice {
  background-color: var(--gray-dark);
  color: white;
  border-radius: 10px;
}

.group {
  margin: 0;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.list-group-item {
  border-radius: 10px;
}

.user-requested-doc {
  position: relative;
}

.user-requested-doc .check-container {
  position: absolute;
  right: 1rem;
}

.user-requested-doc .cross-container {
  position: absolute;
  left: 1rem;
  color: var(--warning);
}

.check-container.check-success {
  color: var(--success);
}

.check-container.check-warning {
  color: var(--warning);
}

.doc-selectors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.doc-selectors-container select {
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

.user-requested-doc .list-group-item {
  border: none;
  color: var(--success);
  padding: 0.25rem;
}

.added-group-title {
  background-color: var(--success);
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.unnecessary-to-add {
  display: none;
}
