.list-group {
  margin: 0 5rem;
}

.swap-folder-item {
  border-radius: 50px;
}

.swap-folder-item:hover {
  border: 0.2rem solid var(--info);
}

.correspondent-name {
  max-width: 33%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
