.request {
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 10px;
  margin: 2rem 0.5rem;
  /* border: 2px solid var(--gray); */
  position: relative;
  max-width: 100%;
  position: relative;
}

.request .btn {
  font-size: 1rem;
  height: 100%;
}

.cross {
  height: 1rem;
}

.delete-cross {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  background-color: transparent;
}

.delete-cross:hover {
  color: red;
}

.choice {
  background-color: var(--gray-dark);
  color: white;
  border-radius: 10px;
}

.group {
  margin: 0.5rem 0;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.list-group-item {
  border-radius: 10px;
}

#requestsContainer {
  height: 90%;
  width: 100%;
}

.user-requested-doc {
  position: relative;
}

.user-requested-doc .check-container {
  position: absolute;
  right: 1rem;
}

.check-container.check-success {
  color: var(--success);
}

.doc-selectors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.doc-selectors-container select {
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 0.25rem;
}
