<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <main>
      <a class="btn btn-info" href="/add-document">Nouveau</a>
      <h1>Mes documents</h1>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
